@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Joy Line EA Ltd “The Company” is an importer and distributor of food raw materials and ingredients for human and animal food processing.
    The company also manufactures some high quality bakery ingredients and animal mineral suppliments.
    The Company’s reputation for quality  baking ingredients has earned it large food/confectionery processors like Supermarkets, Major Bakeries, food/Confectionery ,shops, coffee houses and restaurants.
    ¡The Company’s portfolio of milling and manufacturing ingredients include Citric acid, SAPP,  sodium bicarbonate,Dextrose monohydrate, corn starch,dextroze monohyd ,trisodium citrate,citric acid, sodium Benzoate Sodium Saccharine ,Pottassium sorbate,Tartaric Acid, etc. Leading brewers and millers use these supplements in production.
    ¡Leading animal health products include Dairy Pre-mix, Layers Premix,  General Purpose Premix,  Salt Lick,  Stock Lick, & De-wormers, etc.
    ¡Animal health customers include large scale farmers such as Dalamere Farms,  feed manufacturers like Unga Group Animal Feeds,  among others.
</p>
