@{
    ViewBag.Title = "Home Page";
}

<html>
<body>
    <h1><img src="https://joyline.co.ke/wp-content/uploads/2020/04/logo.gif" alt="" /></h1>

    <p>All the products that Joyline Imports is sourced from a reliable and reputable manufacturers and traders situated in different parts of the world. The products in our warehouses are stored using the highest standards. We also pay keen attention to every product handling stage and strive to serve our clients in the best possible manner. Our sourcing strategy and import mechanism are designed to satisfactorily meet the convenience of our clients</p>
</body>
</html>